<body>
  <div class="main">
    <div class="container first">
      <h1>About Us</h1>
      <p>At our company, we have developed a comprehensive bug tracking application designed to streamline the process of identifying, reporting, and resolving software bugs. Our application is a powerful tool that helps software development teams track and manage bugs throughout the entire development lifecycle, ensuring efficient bug resolution and enhancing the overall quality of software products.</p>
    </div>
    <div class="container second">
      <!-- <img src="https://images.unsplash.com/photo-1536148935331-408321065b18?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" class="img"> -->
    </div>
    <div class="container third">
      <h1>Our Mission</h1>
      <p>Our mission for the bug tracking application is to empower software development teams with a powerful and efficient tool that simplifies the bug tracking and resolution process. We aim to provide a seamless and collaborative environment that enables teams to identify, report, and resolve bugs swiftly, ensuring the delivery of high-quality software products.
        We strive to be a trusted partner for teams in their pursuit of delivering exceptional software products.
      </p>
    </div>
  </div>
</body>